*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Girloy';
  src: url('/fonts/Gilroy//Gilroy-Light.otf') format('opentype');
  font-weight: lighter
  /* font-style: ''; */
}
@font-face {
  font-family: 'Girloy';
  src: url('/fonts/Gilroy/Gilroy-Regular.otf') format('opentype');
  font-weight: 300
  /* font-style: ''; */
}
@font-face {
  font-family: 'Girloy';
  src: url('/fonts/Gilroy/Gilroy-RegularItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Girloy';
  src: url('/fonts/Gilroy/Gilroy-Medium.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'Girloy';
  src: url('/fonts/Gilroy/Gilroy-Semibold.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'Girloy';
  src: url('/fonts/Gilroy/Gilroy-Bold.otf') format('opentype');
  font-weight: 600;
}
/* Modern CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}
